/* document-wide styles*/
body {
    text-align: center;
    font-size: 18px;
    font-family: Helvetica, sans-serif; /* I also like Roboto here?*/
}

h1 {
    font-weight: normal;
    font-size: 28px;
    text-align: center;
}

/* styles for the inputs and buttons*/
#ui {
    font-size: 12px;
}

#ui input {
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    margin: 5px;
}

#ui p {
    margin: 0;
}

#ui button {
    font-family: inherit;
}

#ui .info {
    display: none;
}

#timer {
    display: inline;
}

#ui span.spacer {
    content: ' ';
    padding: 9px;
}

/*styles for the periodic table*/
table {
    margin-top: -40px;
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 40px;
}

td {
    background-color: white;
    padding: 5px;
    width: 45px;
    height: 45px;
    text-align: center;
}

td.s {
    background-color: cyan;
}

td.p{
    background-color: hotpink;
}

td.d {
    background-color: yellow;
}

td.f {
    background-color: greenyellow;
}

td div.num {
    font-size: 11px;
    text-align: right;
    position: relative;
    top: -7px;
}

td div.sym {
    position: relative;
    top: -2px;
    vertical-align: middle;
}

/*styles for the element list (revealed upong endgame())*/
#element-list {
    text-align: inherit;
}

#element-list ul {
    max-width: 500px;
    text-align: left;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style: none;
    margin-left:auto; 
    margin-right:auto;
}

/* styles for missed elements (revealed upon endgame())*/
.cell.fail {
    color: white;
    background-color: red;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

li.fail {
    color: red;
}