body {
    text-align: center;
    font-size: 16px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 28px;
    text-align: center;
}

#ui {
    font-size: 12px;
}

#ui label {
    font-size: 16px;
}

#ui input {
    text-align: center;
    font-size: 16px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
    margin: 5px;
}

table {
    margin-top: -40px;
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 40px;
}

td {
    background-color: white;
    padding: 5px;
    width: 45px;
    height: 45px;
    text-align: center;
}

td.s {
    background-color: cyan;
}

td.p{
    background-color: hotpink;
}

td.d {
    background-color: yellow;
}

td.f {
    background-color: greenyellow;
}

td div.num {
    font-size: 11px;
    text-align: right;
    position: relative;
    top: -9px;
}

td div.sym {
    position: relative;
    top: -4px;
    vertical-align: middle;
}

#element-list {
    text-align: inherit;
}

#element-list ul {
    max-width: 500px;
    text-align: left;
}

ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style: none;
    margin-left:auto; 
    margin-right:auto;
}

.fail {
    color: white;
    background-color: red;
}